
.header{
  font-family: 'Lato', sans-serif;
  background:
   url(img/arka.jpg);
   background-size: 100% 100%;
  height: 494px;
}
.top-bar{
  width: 1150px;
  margin:0px auto;
  padding-top: 46px;
}
.menu ul{
  display: flex;
  float: right;
}
.logo{
  float: left;
}
.menu {
  float: right;
}
.menu ul a {

  font-size: 14px;
  color: #f1f1f1;
  text-decoration: none;
  margin-left: 15px;
  line-height: 35px;
}
.menu ul a:hover{
  color:#ce625b;
}
.title{
  padding-top: 130px;
  color: #ffffff;
  text-align: center;
}
.title h1 {
  font-size: 24px;
}
.title p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.content{
  width: 1150px;
  display: flex;
  margin: 0px auto;
}
.box{
  margin-top: -200px;
  width: 349px;
  height: 320px;
  background-color: #f4f4f4;
  text-align: center;
  position: relative;
  margin-right: 50px;
}
.box  a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #3a3a3a;
}
.box p {
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #787878;

}
.box a:hover{
  color: #ce625b
}
.contact{
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 300;
  line-height: 104px;
  width: 1150px;
  height: 104px;
  margin: 0px auto;
  margin-top: 40px;
  background-color:#f4f4f4; 
  text-align: center;
}
.number a{
  text-decoration: none;
  color: #fff;
  border-radius: 6px;
  background-color: #8d5643;
}
.footer{
  width: 1150px;
  height: 100px;
  margin:0px auto;
  margin-top:40px; 
}
.adress{
  float: left;
  color: #3a3a3a;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.adress h1{
  font-weight:600; 
}
.menu-footer ul{
  display: flex;
}
.menu-footer{
  float: right;
  display: flex;
}
.menu-footer ul a{
  text-decoration: none;
  margin-left: 9px;
  font-family: 'Open Sans', sans-serif;
  color: #3a3a3a;  
  font-size: 14px;
}
.menu-footer ul a:hover{
  color:#c16059
}
.contact-footer{
  font-family: 'Open Sans', sans-serif;
  color: #3a3a3a;
  font-size: 14px;
  float: left;
  padding-left: 50px;
  
}
.contact-footer h1{
  font-weight: 600;
}