body{
    background-color: #363636;
}
.main{
    width: 1000px;
    margin: 0px auto;
}
.pp{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    float: left;
}
.header{
    height: 400px;
    position: relative;
    top:100px;
    z-index: -1;
}
.explanation{
    color: #fff;
    position: relative;
    left: 90px;
    top: 50px;
    width: 600px;
    font-family: 'Ubuntu', sans-serif;
}
.name{
    font-size: 50px;
    color: #fff;
    position: relative;
    left: 90px;
    top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.socialmedia{
    width: 250px;
    margin: 0px auto;
}
.socialmedia a{
    margin-left: 10px;
}
.mail{
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.mail a{
    text-decoration: none;
    color: #007bff;
}
.carousel{
    top: 60px;
    width: 800px;
    height: 400px;
    margin: 0px auto;
}
.pikselbulut{
    position: relative;
    top: 200px;
}
.title{
    width: 650px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px auto;
}
.title a{
    text-decoration: none;
    color: #007bff;
}
.posts{
    position: relative;
    top: 50px;
    width: 900px;
    margin: 0px auto
}
.posts img{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}
