.nav{
    width: 1062px;
    margin: 0px auto;
    position: relative;
    top: 50px;
}
.menu{
    float: right;
}
.menu li{
    display: inline-block
}
.menu a{
    text-decoration: none;
    font-size: 14px;
    color: #626262;
    margin-left: 40px;
}
.content{
    width: 1062px;
    margin: 0px auto;
}
.paragraph{
    width: 906px;
    margin: 0px auto;
    position: relative;
    top: 90px;
    height: 450px;
}
.paragraph a{
    text-decoration: none;
    font-size: 14px;
    color: #b4ad9e;
    margin-top: 20px;
}
.paragraph h1{
    font-size: 30px;
    color: #626262
}
.paragraph p{
    font-size: 14px;
    color: #626262
}
.posts{
    width: 906px;
    margin: 0px auto;
}
.post{
    width: 400px;
    float: left;
    padding-bottom: 70px;
}
.post img{
    width: 400px;
    height: 280px;
}
.post a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #b4ad9e;
}
.right-post{
    width: 400px;
    float: right;
    padding-bottom: 70px;

}
.right-post img{
    width: 400px;
    height: 280px;
}
.right-post a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 14px;
    color: #b4ad9e;
}
.text{
    margin-top: 20px;
}
.text h1{
    font-size: 30px;
    color: #626262;
    font-weight: bold;
    margin-top: 20px;
}
.text p{
    font-size: 14px;
    color:#626262
}
.newsletter{
    display: inline-flex;
    height: 285px;
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom:40px;
}
.news{
    width: 400px;
    margin: 0px auto;
}
.newsletter h1{
    width: 400px;
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    position: relative;
    top: 70px;
}
.mail{
    width: 400px;
    top: 120px;
    position: relative;
}
button {
    border: none;
    background-color: #f0f0f0;
    position: relative;
    left: -50px;

}
input{
    width: 340px;
    height: 30px;
    border: none;
    border-bottom: 2px solid;
    background-color: #f0f0f0;

}
.load-more{
    display: flex;
    height: 60px;
    width: 160px;
    margin:0px auto;
    border: 1px solid #626262;
}
.load-more a{
    text-decoration: none;
    color: #626262;
    font-size: 20px;
    display: block;
    text-align: center;
    width: 160px;
    line-height: 60px;
}
.load-more a:hover{
    background-color: #f0f0f0;
    
}
.footer{
    height: 100px;
    background-color: #f0f0f0;
    margin-top: 20px
}
.foot{
    width: 980px;
    margin: 0px auto;
}
.foot a{
    line-height: 100px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.socialmedia{
    font-size: 14px;
    float: right;
    line-height: 100px;
}
